@font-face {
  font-family: Cascadia Code;
  src: url("./assets/fonts/CascadiaCode.woff2") format("woff2");
}
@font-face {
  font-family: Cascadia Code;
  src: url("./assets/fonts/CascadiaCode-Bold.woff2") format("woff2");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: Cascadia Code;

  --background-color: rgb(238, 238, 238);
  --primary-text-color: rgb(0, 0, 0);
  --secondary-text-color: rgb(50, 50, 50);
  --paragraph-text-color: rgb(78, 78, 78);

  --divider-color: rgb(180, 180, 180);

  color: var(--primary-text-color);
}

body {
  margin: 0;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;

  display: flex;
  justify-content: space-between;

  padding: 25px 30px;
  border-bottom: 1px solid var(--divider-color);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) padding;
  background: rgba(255, 255, 255, 0.95);
}

nav > a {
  padding: 5px 15px;
  color: var(--secondary-text-color);

  border-radius: 3px;
  transition: 0.2s ease-out background-color;
}

nav > a:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
nav > a:active {
  background-color: rgba(0, 0, 0, 0.22);
}

#main-wrapper {
  margin: 80px 0 30px 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 800px;
}

p > a {
  border-bottom: 3px solid rgb(108, 108, 108);
  transition: 0.1s ease-out border;
}
p > a:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
}

p,
p * {
  color: var(--paragraph-text-color);
  line-height: 2rem;
}

@media (max-width: 600px) {
  header {
    top: auto;
    bottom: 0;

    padding: 15px 15px;
    border-top: 1px solid var(--divider-color);
  }

  nav > a {
    padding: 5px 3px;
  }

  #main-wrapper {
    margin-top: 15px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact-container {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

#github-logo {
  border: none;
  height: 32px;
  width: 32px;
  display: block;
}

.icon {
  height: 32px;
  width: 32px;
  display: inline-block;
}

.button {
  background-color: rgb(95, 95, 95);
  border: 1px solid rgb(54, 54, 54);
  border-bottom: 3px solid rgb(0, 0, 0);
  color: white;
  padding: 5px 10px;
  border-radius: 0.5rem;

  transition:
    0.1s ease-out border,
    0.2s ease-out background-color;
}

.button:hover {
  background-color: rgb(80, 80, 80);
}
.button:active {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

hr {
  margin: 30px 0;
  height: 30px;
  background-image: url(assets/lines.svg);
  background-repeat: repeat-x;
  border: none;
  background-position: left center;
}

.list {
  margin-bottom: 40px;
}

#about .list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.list-item {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.centered-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  font-weight: bold;
}

.centered-list > span::after {
  content: ",";
}
.centered-list > span:last-child::after {
  content: "";
}

.list-item-title,
.list-item-date {
  color: #808080;
}

.list-item-location {
  color: var(--secondary-text-color);
  font-weight: bold;
}
.list-item-title {
  margin-right: 15px;
}
.list-item-date {
  width: 100px;
}

.list-item-spacer {
  flex-grow: 1;
}

h2 {
  margin: 15px 0px;
}

@media (max-width: 850px) {
  .list {
    margin-bottom: 20px;
  }
  .list-item {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
  }

  .list-item-spacer {
    position: absolute; /* Exclude spacer from flex calculation */
  }

  .centered-list {
    justify-content: flex-start;
  }

  h2 {
    margin: 5px 0;
  }
}

#projects {
  margin-top: 40px;
}

.project {
  margin-bottom: 80px;
}

.project-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.project-description {
  font-size: 14px;
}

.project-button {
  display: inline-block;
  margin-top: 20px;
}
.project-button > img {
  width: 10px;
}

.project-link {
  display: flex;
  align-items: center;
  gap: 15px;

  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  padding: 10px;

  margin-bottom: 10px;

  transition: 0.3s ease-out background-color;
}

.project-link:hover {
  background-color: rgb(200, 200, 200);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
  background: rgb(119, 119, 119);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}

#cursor {
  display: inline-block;
  width: 3px;
  height: 31px;
  background-color: black;
  margin: 25px 4px;
  transition: 0.5s ease-out opacity;
  z-index: -1;
}

.blinking {
  animation: cursor-blink 0.4s linear infinite alternate;
}

.invincible {
  opacity: 0;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#welcome {
  display: flex;
}

.list-item-experience {
  width: 60px;
  height: 20px;
  background-color: rgb(201, 201, 201);
  border-radius: 5px;
}

.list-item-experience-container {
  display: flex;
  gap: 20px;
}

.green {
  background-color: rgb(101, 172, 101);
}

.centered-list > img {
  width: 30px;
}

#icons-disclaimer {
  margin-top: 30px;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

footer {
  display: flex;
  gap: 30px;

  font-size: 14px;
}

.mt-40 {
  margin-top: 40px;
}

#impressum {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}
.impressum-section {
  margin-bottom: 10px;
}

#datenschutz h2 {
  margin-bottom: 40px;
}

#ds-impressum > div {
  margin-bottom: 5px;
}
